<nav mat-tab-nav-bar>
  <a mat-tab-link
     routerLink="login"
     routerLinkActive = "active">Login</a>
  <a mat-tab-link
     routerLink="register"
     routerLinkActive = "active">Register</a>
  <a mat-tab-link
     routerLink="forgetpd-username"
     routerLinkActive = "active">Get Username / Password</a>
</nav>
<div><router-outlet></router-outlet></div>


<!--<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="['login']"
     routerLinkActive = "active">Login</a>
  <a mat-tab-link
     routerLink="['register']"
     routerLinkActive = "active">Register</a>
  <a mat-tab-link
     routerLink="['forgetpd-username']"
     routerLinkActive = "active">Get Username / Password</a>
</nav>
<div><router-outlet></router-outlet></div>-->
