<div class="profile">
  <div > testing for push ooo fff ffff </div>
  <div id="user-details" *ngIf="!isEdit">
   <h4>User details:</h4>
    <p><label>User Id:</label>{{userData._id}}</p>
    <p><label>Name:</label>{{userData.name}}</p>
    <p><label>User Name:</label>{{userData.username}}</p>
    <p><label>Password:</label>{{userData.password}}</p>
    <p><label>Email:</label>{{userData.email}}</p>
    <p><label>Mobile:</label>{{userData.mobile}}</p>
    <p><label>Address:</label>{{userData.address}}</p>
    <p><label>Pincode:</label>{{userData.pincode}}</p>
  </div>
  <div>
    <form class="formcnt" *ngIf="isEdit" [formGroup]="editForm">
        <mat-form-field class="full-width">
            <input matInput placeholder="Enter user id" autocomplete='id'  formControlName="user_id" required>
            <mat-error *ngIf="editForm.controls['user_id'].invalid">Please enter user id.</mat-error>
          </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Enter name" autocomplete='name' formControlName="name" required>
            <mat-error *ngIf="f.name.invalid">Please enter name.</mat-error>
          </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Enter username autocomplete='username'" formControlName="username" required>
        <mat-error *ngIf="editForm.controls['username'].invalid">Please enter username.</mat-error>
      </mat-form-field>

     <mat-form-field class="full-width">
        <input matInput placeholder="Enter password" autocomplete='current-password' formControlName="password" required>
        <mat-error *ngIf="editForm.controls['password'].errors && (editForm.controls['password'].dirty || editForm.controls['password'].touched) && editForm.controls['password'].invalid">
          <p *ngIf="editForm.controls['password'].errors.required">Password is required arnav kumar</p>
          <p *ngIf="editForm.controls['password'].errors.minlength">Password must be 6 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
        </mat-error>
        <mat-error *ngIf="errorMessage && editForm.valid">Username or password is incorrect. Please click on get password or username button.</mat-error>
      </mat-form-field>
       <mat-error *ngIf="errorMessage">Wrong credential. Please enter correct username or password</mat-error>
       <mat-form-field class="full-width">
        <input matInput placeholder="Enter email" autocomplete='email' formControlName="email" required>
        <mat-error *ngIf="editForm.controls['email'].errors && (editForm.controls['email'].dirty || editForm.controls['email'].touched) && editForm.controls['email'].invalid">
          <p *ngIf="editForm.controls['email'].errors.required">Please enter correct email</p>
          <p *ngIf="editForm.controls['email'].errors.pattern">Email should be in correct format.</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
          <input matInput placeholder="Enter mobile" autocomplete="mobile" formControlName="mobile" required>
          <mat-error *ngIf="editForm.controls['mobile'].invalid">Please enter mobile.</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Enter address" autocomplete="address-line1" formControlName="address" required>
            <mat-error *ngIf="editForm.controls['address'].invalid">Please enter address.</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
              <input matInput placeholder="Enter pincode" autocomplete="postal-code" formControlName="pincode" required>
              <mat-error *ngIf="f.pincode.invalid">Please enter pincode.</mat-error>
            </mat-form-field>
      </form>
  </div>
  <h1>rajnish</h1>
  <button class="edit" style="margin-top: 20px;" mat-raised-button color="primary" (click)="editUser()">Edit User Details</button>
  <button class="save" style="margin-top: 20px;" mat-raised-button color="primary" (click)="saveUser()">save User Details</button>
</div>
