
$my-bg:red;
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.mat-sidenav-fixed {
  /*background:$my-bg;*/
  position: absolute!important;
}
