<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="flex-container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">
  <div class="flex-item" fxFlex="50%"> </div>
  <div class="flex-item" fxFlex="50%">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         routerLink="/authentication"
         routerLinkActive = "active" [routerLinkActiveOptions]="{exact: true}">Authentication</a>
      <a mat-tab-link
         routerLink="/dashboard"
         routerLinkActive = "active">Dashboard</a>
    </nav>
    <router-outlet></router-outlet>
    <!--<router-outlet name="dashboard-outlet"></router-outlet>-->

  </div>
<p>Google map and template reference variable tested here.</p>
  <div #gmap class="gmapp"> google map placeholder. </div>
<p>point1: </p>
  <label> lat:<input #p1 /></label>
  <label> lat:<input #p2 /></label>

  <p>point2: </p>
  <label> lat:<input #p3 /></label>
  <label> lat:<input #p4 /></label>

  <button (click)="findDis(p1.value,p2.value,p3.value,p4.value)">find distan</button>

</div>



