<div class="mat-dialog-container">
 <form class="formcnt" *ngIf="isLogin" [formGroup]="loginForm" (submit)="doLogin()">
  <mat-form-field class="full-width">
    <input matInput placeholder="Enter username" formControlName="username" required>
    <mat-error *ngIf="f.username.invalid">Please enter username.</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Enter password" formControlName="password" required>
    <mat-error *ngIf="f.password.errors && (f.password.dirty || f.password.touched) && f.password.invalid">
      <p *ngIf="f.password.errors.required">Password is required arnav kumar</p>
      <p *ngIf="f.password.errors.minlength">Password must be 6 characters long, we need another {{f.password.errors.minlength.requiredLength - f.password.errors.minlength.actualLength}} characters </p>
      <!--<p *ngIf="password.errors.pattern">Password must be contain a number</p>-->
    </mat-error>
    <mat-error *ngIf="errorMessage && loginForm.valid">Username or password is incorrect. Please click on get password or username button.</mat-error>
  </mat-form-field>
   <mat-error *ngIf="errorMessage">Wrong credential. Please enter correct username or password</mat-error>
   <button style="margin-top: 20px;" mat-raised-button color="primary">Submit</button>
 </form>
</div>


