<div class="mat-dialog-container">
  <form class="formcnt" [formGroup]="registerForm">
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter username" formControlName="username" required>
      <mat-error *ngIf="f.username.invalid">Please enter username.</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Enter password" formControlName="password" required>
      <mat-error *ngIf="f.password.errors && (f.password.dirty || f.password.touched) && f.password.invalid">
        <p *ngIf="f.password.errors.required">Password is required arnav kumar</p>
        <p *ngIf="f.password.errors.minlength">Password must be 6 characters long, we need another {{f.password.errors.minlength.requiredLength - f.password.errors.minlength.actualLength}} characters </p>
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="errorMessage && f.loginForm.valid">Username or password is incorrect. Please click on get password or username button.</mat-error>
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter email" formControlName="email" required>
      <mat-error *ngIf="f.email.errors && (f.email.dirty || f.email.touched) && f.email.invalid">
        <p *ngIf="f.email.errors.required">Please enter correct email</p>
        <p *ngIf="f.email.errors.pattern">Email should be in correct format.</p>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="doRegister()">Create User</button>
  </form>

</div>
