:host /deep/ .formcnt {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

:host /deep/ .full-width {
  width: 100%;
}

/*:host /deep/ h3 {*/
  /*color: yellow;*/
  /*font-style: italic;*/
/*}*/
/*:host  >>> p {*/
  /*color: white;*/
  /*font-style: Monospace;*/
  /*font-size: 20px;*/
/*}*/
